*{
    margin: 0px;
    padding: 0px;
}
.ethprice .d-flex .dropdown .dropdown-menu > li button:hover{
    background: #fff;
}
.ethprice .d-flex .dropdown .dropdown-menu li button.active{
    background: #fff;
    color: #2980b9;
}
#user{
    display: none;
}
.header .navbar .collapse .navbar-nav .dropdown >.dropdown-menu{
    width: 290px;
    border-top: 4px solid #192a56;
    border-left: 4px solid #192a56;
}
.header .navbar .collapse .navbar-nav .dropdown >.dropdown-menu li a:hover{
    background: #fff;
}
#moredrop{
    width: auto;
    right: 0px;
}
#develdrop{
    right: 0px;
}
.header .navbar .collapse .navbar-nav li a:hover{
    color: #192a56;
    transition: all 0.3s;
}
.header .navbar .collapse .navbar-nav li a.active{
    color: #2980b9;
    font-weight: bold;
}
.header .navbar .collapse .navbar-nav li.dropdown:hover > .dropdown-menu{
    display: block;
    transition: all 0.5s;
    position: absolute;
    right: 0px;
}
.header .navbar .collapse .navbar-nav li.dropdown:hover > .dropdown-menu li:hover{
    background: #bdc3c7;
}
.main{
    background-image: url(../EtherscanImg/waves-light.svg);
}
.eter-sec .under-ehter .row{
    --bs-gutter-x: 0px;
}
.tbl-sect .row .card .card-body a{
    color: #3498db;
    text-decoration: none;
}
.tbl-sect .row .card .d-grid button:hover{
    color: #3498db;
}
.footer .container ul li a{
    text-decoration: none;
    color: black;
}
.footer .container ul li a:hover{
    color: #3498db;
    transition: all 0.5s;
}    
.footer .container ul li {
    padding: 4px;
}
@media screen and (max-width: 767px) {
.ethprice{
 display: none;
}
.header .navbar .collapse .navbar-nav .dropdown >.dropdown-menu{
    width: 100%;
}
#moredrop{
    width: 100%;
}
#bscgame{
    display: none;
}
.tbl-sect .row .card .card-body i{
    display: none;
    text-decoration: none;
}
.tbl-sect .row .card{
    height: 500px;
    overflow-y: scroll;
}
}
